eureka:
  client:
    #是否将自己注册到Eureka Server,默认为true，由于当前就是server，故而设置成false，表明该服务不会向eureka注册自己的信息
  #  register-with-eureka: false
    #是否从eureka server获取注册信息，由于单节点，不需要同步其他节点数据，用false
   # fetch-registry: false
    #设置服务注册中心的URL，用于client和server端交流
    service-url:
      defaultZone: http://euk1.com:7001/eureka/   # eureka 所有操作调用
  instance:
    # appname 用来分组， hostname 用于标识主机
    appname: eukServer
    hostname: euk2


# tomcat端口
server:
  port: 7002

spring:
  application:
    name: euk_server02
